.login-container {
    background-color: #1a237e;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    margin: auto;
    text-align: center;
}

.login-container h1 {
    color: white;
}

.login-container label {
    display: block;
    margin: 10px 0 5px;
}

.login-container input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

.login-container button {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #45a049;
}
